{% extends 'undpaulMarioKartBundle::layout.html.twig' %}

{% block breadcrumbs %}
  {{ parent() }}
  <a href="{{ path('upmk_tournament_index') }}">
    Tournaments
  </a>
  <a href="{{ path('upmk_tournament_view', { 'tournament_id': round.tournament.id}) }}">
    {{ round.tournament.name }}
  </a>
{% endblock %}

{% block page_title %}
  {{ round.getFullName() }}
{% endblock %}

{% block content %}

  {% for game in round.games %}
    {{ render(controller('undpaulMarioKartBundle:Game:viewFull', {'game': game, 'titleTag': 'h3' })) }}
  {% endfor %}

  <a href="{{ path('upmk_round_remove', {'round_id': round.id}) }}">(x) Delete round</a>
{% endblock %}