{% extends 'undpaulMarioKartBundle::layout.html.twig' %}

{% block breadcrumbs %}
  {{ parent() }}
  <a href="{{ path('upmk_player_index') }}">
    Tournaments
  </a>
{% endblock %}

{% block page_title %}
  Add Player
{% endblock %}

{% block content %}

  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}

{% endblock %}