{% extends 'undpaulMarioKartBundle::layout.html.twig' %}

{% block breadcrumbs %}
  {{ parent() }}
  <a href="{{ path('upmk_tournament_index') }}">
    Tournaments
  </a>
  <a href="{{ path('upmk_tournament_view', { 'tournament_id': game.round.tournament.id}) }}">
    {{ game.round.tournament.name }}
  </a>
  <a href="{{ path('upmk_round_view', { 'round_id': game.round.id}) }}">
    {{ game.round.getFullName() }}
  </a>
{% endblock %}

{% block page_title %}
    Edit {{ game.getFullName() }}</em>
{% endblock %}

{% form_theme form 'undpaulMarioKartBundle:Form:form.html.twig' %}

{% block content %}
  {% if form %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
  {% endif %}
{% endblock %}