<table class="ranking">
  <thead>
  <tr>
    <th>Name</th>
    <th>Finished</th>
    <th>Pos</th>
    <th>Pte</th>
    <th>&sum;</th>
  </tr>
  </thead>
  {% for row in ranking.rows %}
    <tr>
      <td class="bold">{{ row.player.name }}</td>
      <td>{{ row.pos_abs|join(',') }}</td>
      <td>{{ row.pos_rel|join(',') }}</td>
      <td>{{ row.pts_rel|join(',') }}</td>
      <td class="bold">
        {{ row.getSumRelative() }}
        <sup>({{ row.getSumAbsolute() }})</sup>
      </td>
    </tr>
  {% endfor %}
</table>