{% extends 'undpaulMarioKartBundle::layout.html.twig' %}

{% block breadcrumbs %}
  {{ parent() }}
  <a href="{{ path('upmk_tournament_index') }}">
    Tournaments
  </a>
  <a href="{{ path('upmk_tournament_view', { 'tournament_id': game.round.tournament.id}) }}">
    {{ game.round.tournament.name }}
  </a>
  <a href="{{ path('upmk_round_view', { 'round_id': game.round.id}) }}">
    {{ game.round.getFullName() }}
  </a>
{% endblock %}

{% block page_title %}
  {{ game.getFullName() }}
{% endblock %}

{% block content %}
  {{ render(controller('undpaulMarioKartBundle:Game:viewFull', {'game': game })) }}
{% endblock %}