<div class="game">
  <{{ titleTag }}>{{ game.getFullName() }}</{{ titleTag }}>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Finished</th>
      <th>Pos</th>
      <th>Pte</th>
      <th>&sum;</th>
    </tr>
    </thead>
    {% for result in game.getOverviewData() %}
      <tr>
        <td class="bold">{{ result.player.name }}</td>
        <td>{{ result.pos_abs|join(',') }}</td>
        <td>{{ result.pos_rel|join(',') }}</td>
        <td>{{ result.pts_rel|join(',') }}</td>
        <td class="bold">{{ result.getSumAbsolute() }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
