{% extends 'undpaulMarioKartBundle::layout.html.twig' %}

{% block breadcrumbs %}
  {{ parent() }}
  <a href="{{ path('undpaul_mario_kart_tournament_index') }}">
    Tournaments
  </a>
  <a href="{{ path('undpaul_mario_kart_tournament_view', { 'tournament_id': tournament.id}) }}">
    {{ tournament.name }}
  </a>
{% endblock %}

{% block page_title %}
  Add player</em>
{% endblock %}

{% block content %}
  {% if form %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
  {% else %}
    Tournament already has started. So we cannot add anymore players.
  {% endif %}
{% endblock %}