<table class="ranking">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Races</th>
    <th>&sum;</th>
  </tr>
  </thead>
  {% for row in ranking.rows %}
    <tr>
      <td>{{ loop.index }}</td>
      <td class="bold">
        <a
            href="{{ path('upmk_participation_view', {'pid': row.participation.id}) }}">
        {{ row.player.name }}</td>
      </a>
      <td>{{ row.getFinishedCount() }}/{{ row.getRacesCount() }}</td>
      <td class="bold">
        {{ row.getSumRelative() }}
        <sup>({{ row.getSumAbsolute() }})</sup>
      </td>
    </tr>
  {% endfor %}
</table>