{% extends 'undpaulMarioKartBundle::layout.html.twig' %}

{% block breadcrumbs %}
  {{ parent() }}
  <a href="{{ path('upmk_tournament_index') }}">
    Tournaments
  </a>
{% endblock %}

{% block page_title %}
  {{ tournament.name }}
{% endblock %}



{% block content %}

  <h2>Players</h2>
  {% if tournament.participations | length > 0 %}
    <ul>
      {% for player in tournament.getPlayers() %}
        <li>{{ player.name }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if tournament.isStarted() %}
    <div>You cannot add anymore players.</div>
  {% else %}
    <div class="add-more">
      <a
          href="{{ path('upmk_tournament_add_player', {'tournament_id': tournament.id}) }}">
        Add players
      </a>
    </div>
  {% endif %}

  <h2>Rounds</h2>
  {% if tournament.rounds | length > 0 %}
    <ul>
      {% for round in tournament.rounds %}
        <li>
          <a href="{{ path('upmk_round_view', {'round_id': round.id}) }}">
            {{ round.getFullName() }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div>No rounds added.</div>
  {% endif %}
  <div class="add-more">
    <a
        href="{{ path('upmk_round_generate',
        {'tournament_id': tournament.id}) }}">
      Generate new round
    </a>
  </div>

  <h2>Ranking</h2>
  {% include "undpaulMarioKartBundle:Tournament:ranking.html.twig" %}

{% endblock %}